body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Write your CSS here */
table {
  box-sizing: border-box;
}

/*to show the cells of the table */
td {
  outline: 1px solid black;
  height: 2vh;
  width: 2vh;
  padding: auto;
}

#firstRow {
  background-color: goldenrod;
}

td:first-child {
  background-color: goldenrod;
}

#x {
  background-color: crimson;
  color: white;
}

table {
  overflow: hidden;
}

tr:hover {
  background-color: #ffa;
}

td, th {
  position: relative;
}

td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  background-color: #ffa;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

td:hover {
  background-color: lightskyblue;
}